h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #333;
    text-align: center;
    margin-top: 20px;

}   

body {
    background-color: #f0f8ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #e6f2ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
   
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #45a049;
}

p#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}   