body{
    font-family: Arial, sans-serif;
    background-color: #ffe6e6;
    height : 100vh;
    display : flex;
    justify-content : center;
    align-items : center;
}   


.container {
    background-color: #fff0f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input button {
    padding : 10px;
    margin : 10px 0;
    border: none;
    border-radius: 10px;
    outline : none;
}

button {
    background-color: #ff4d6d;
    color: white;
    cursor: pointer;
    transition : background-color 0.3s;
}

button:hover {
    background-color: #ff1a3c;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}