body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blanchedalmond;
    margin :0;
    padding :0;
}

.editor-container {
    max-width: 800px;
    margin : 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius : 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.editor{
    
}