body {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display : flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
    color:white;

}


#player {
    background-color: #3f4652;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    

}


h2{
    text-align: center;
    margin-bottom: 20px;
}


.uploader{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.uploader input[type="file"]{
    display: none;
}

.uploader label{
    display: block;
    background-color: #5a65ff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.uploader label:hover{
    background-color: #4951ff;
}

audio{
    width : 100%;
    outline : none;
}