body{
    font-family: Arial, Helvetica, sans-serif;
    display :flex;
    justify-content : center;
    align-items : center;
    height : 100vh;
}


.container{
    text-align: center;
    width: 300px;
    padding : 20px;
    background-color : #f4f4f4;
    box-shadow : 0 0 10px rgba(0,0,0,0.1);
    border-radius : 10px;
}


.colordisplay{
    width : 150px;
    height : 150px;
    margin : 20px auto;
    border-radius : 50%;
    border : 1px solid #ccc;
}


.sliders{
    display : block;
    margin : 10px 0;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding : 10px 15px;
    border-radius: 5px;
    cursor : pointer;
    margin-top: 17px;
    transition: background-color 0.3s ease;

}


button:hover{
    background-color: #0056b3;
}

button:active{
    transform: scale(0.98);
}