body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
    margin :0;
    padding :0;
}


.container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}


.task-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}


#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}


#add-task-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    cursor:pointer
}


ul {
    list-style-type: none;
    padding: 0;
}

li{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    margin : 10px 0;
    border-radius: 4px;
}

.task-text {
    flex: 1;
    text-align: left;
}


.complete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
    background-color: #e9ecef;
}

.btn-group {
    display: flex;
    gap: 8px;
    align-items: center;
}